<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div>
     <form action="send" method="post">
       <h1>Sending Mail</h1>
       <div>
         <table>
           <tr>
             <td>
                 <input type="email" name="email" placeholder="Enter Your Email"/>


             </td>
           </tr>
           <tr>
             <td>
          <input type="text" name="subject" placeholder="Type Subject Here..."/>


             </td>
           </tr>
           <tr>
             <td>
          <textarea name="message" cols='50' rows='5' placeholder="Type Message Here..."></textarea>


             </td>
           </tr>
           <tr>
             <td>
          <input type="submit" value="send" name="send"/>


             </td>
           </tr>


         </table>
        
       </div>

     </form>
   </div>
  </body>
</html>
